version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: bgg_postgres
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    command: >
      postgres 
      -c listen_addresses='*'
      -c max_connections=200

  scraper:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    environment:
      NUMBER_OF_GAMES: ${NUMBER_OF_GAMES:-100}
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"  # Dodaj jawny URL
    volumes:
      - ./logs:/app/logs
      - ./data:/app/data  
    command: python src/main.py --limit ${NUMBER_OF_GAMES:-100}

volumes:
  pgdata: